@charset "UTF-8";

@media screen and (min-width:650px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to top, #1c671c,#49a09d);
    }
    section#login{
        width: 80vw;
    }
    section#login > div#imagen{
        float: left;
        width: 30vw;
        height: 100vh;
        
    }
    section#login > div#formulario{  
        width: 70vw;
        height: 100vh;
    }
}

@media screen and (min-width:992px){
    body{
        background-image: linear-gradient(to top, #1c671c,#49a09d);
    }
    section#login{
        width:950px;
 }

section#login > div#imagen{
    float:right;
    width: 475px;
    height: 100vh;
}

section#login > div#formulario{
    width: 475px;
    height: 100vh;
}
div#formulario > h1{
    font-size: 2em;
}
div#formulario > p{
    font-size: 1.2em;
}
}